#cabecera{
    background-color:darkgray;
    font-size: 60 px;
    color: black;
    font-style:inherit;
    padding: 20 px 
}
.body{
    background-color:rgb(226, 224, 224);
    font-size: 20px;
    color:black;
    font-style: italic;
    padding: 20 px

}

.destacado{
    font-size: 30px;
    padding: 20 px 
}
.parrafo{
    font-size: 20px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20 px 
}

.texto{
    font-size: 15 px;
    color:black;
    font-style: normal;
    padding: 20 px
}